@{
    ViewData["Title"] = "Delete Task";
}

@model TaskForm

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.Task in Quadrant @Model.Quadrant?</h3>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Tasks" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="TaskID" />
</form>
