@{
    ViewData["Title"] = "Edit Task";
}

@model time_management_matrix.Models.TaskForm;

<h1>Task</h1>
<div>
    <form method="post">
        <div asp-validation-summary="All"></div>

        <label asp-for="Task">Task: </label>
        <input asp-for="Task" /><br />

        <label asp-for="DueDate">Due Date: </label>
        <input asp-for="DueDate" /><br />

        <label asp-for="Quadrant">Quadrant: </label>
        <input asp-for="Quadrant" /><br />

        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Category m in ViewBag.Categories)
            {
                <option value='@m.CategoryId'>@m.CategoryName</option>
            }
        </select>
        <br />

        <label asp-for="Completed">Completed: </label>
        <select asp-for="Completed">
            <option value="True">True</option>
            <option value="False">False</option>
        </select><br />

        <button type="submit">Submit</button>
    </form>
</div>